<footer class="page-footer">
<p class="top-link"><a href="#top">return to top</a></p>
<p>&copy; {{ 'now' | date: "%Y" }} Jacki Jorgensen - All Rights Reserved<br />
<a href="{{site.baseurl}}/privacy-policy" title="privacy policy" class="linkPadding">Privacy Policy</a>
</p>
    <div class="social-container">
        <ul class="social">
        <li><a href="https://www.behance.net/evolvedpercccf" target="_blank" rel="noopener" title="behance" class="behance">behance</a></li>
        <!--<li><a href="https://www.facebook.com" title="facebook" target="_blank" rel="noopener" class="fb">Facebook</a></li>-->
        <li><a href="https://www.instagram.com/jackijorgensen/" title="instagram" target="_blank" rel="noopener" class="instagram">Instagram</a></li>
        <li><a href="https://www.pinterest.com/jljorgensen/" title="pinterest" target="_blank" rel="noopener" class="pinterest">Pinterest</a></li>
        <li><a href="https://www.linkedin.com/in/jackijorgensen" title="linked in" target="_blank" rel="noopener" class="linked">LinkedIn</a></li>
        <li><a href="{{site.baseurl}}/feed.xml" title="Subscribe to our RSS feed" target="_blank" rel="noopener" class="rss">Subscribe to our RSS feed</a></li>
    </ul>
        </div>
    
</footer>
