<nav aria-label="Main Menu">
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="toggle-label"><span>Menu</span></label>
<ul class="menu">
    <li><a href="{{site.baseurl}}/artwork" title="artwork">Artwork</a></li>
    <li><a href="{{site.baseurl}}/design" title="design">Design</a></li>
    <li><a href="{{site.baseurl}}/blog" title="blog">Blog</a></li>
    <li><a href="{{site.baseurl}}/about" title="learn more">About</a></li>
    <li><a href="{{site.baseurl}}/contact" title="contact">Contact</a></li>
   <!-- <li><a href="{{site.baseurl}}/tags/" title="Archive">Archive</a></li>-->
</ul>
</nav>